# See http://help.github.com/ignore-files/ for more about ignoring files.
.vscode
# Compiled output
./first-angular/dist
./first-angular/tmp
./first-angular/out-tsc
./first-angular/bazel-out

# Node
./first-angular/node_modules
./first-angular/npm-debug.log
./first-angular/yarn-error.log

# IDEs and editors
./first-angular/.idea/
./first-angular/.project
./first-angular/.classpath
./first-angular/.c9/
./first-angular/*.launch
./first-angular/.settings/
./first-angular/*.sublime-workspace

# Visual Studio Code
./first-angular/.vscode/*
./first-angular/!.vscode/settings.json
./first-angular/!.vscode/tasks.json
./first-angular/!.vscode/launch.json
./first-angular/!.vscode/extensions.json
./first-angular/.history/*

# Miscellaneous
./first-angular/.angular/cache
./first-angular/.sass-cache/
./first-angular/connect.lock
./first-angular/coverage
./first-angular/libpeerconnection.log
./first-angular/testem.log
./first-angular/typings

# System files
./first-angular/.DS_Store
./first-angular/Thumbs.db
