<h2>List heroes</h2>

<div *ngIf="deleteHero; else nothingWasDeleted">
  <h4 class="my-2">Héroe borrado:
    <small class="text-danger">
      {{deleteHero}}
    </small>
  </h4>
</div>
<ng-template #nothingWasDeleted>
  <h4 class="text-muted">No se ha borrado nada!</h4>
</ng-template>


<button *ngIf="heroNames.length >0" class="btn btn-outline-danger my-4" (click)="removeLastHero()">
  Borrar ultimo heroe
</button>
<ul class="mt-2 list-group">
  <li class="list-group-item" *ngFor="let hero of heroNames">
    {{hero}}
  </li>
</ul>