
<h4 class="text-center">
    Listado de Gastos
</h4>
<hr>
<div class="row" style="margin-top: 30px;">
    <div class="col-lg-6">
        <div class="alert alert-success sizeAlert">
            Presupuesto: <strong>{{presupuesto}} </strong>

        </div>
    </div>
    <div class="col-lg-6">
        <div class="sizeAlert" [ngClass]="aplicarColorRestante()">
            Restante: <strong>{{restante}} </strong>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between" *ngFor="let gasto of listaGastos;index as id">
               
                <strong>{{gasto.titulo | titlecase }} </strong>
                <span class="badge rounded-pill  bg-secondary">$ {{gasto.costo}} </span>
                <button class="btn btn-outline-danger rounded-3 fw-bold" (click)="open(id)" >X</button>
           </li>
        </ul>
    </div>
</div>
<app-confirmation-modal
#confirmationModal (newConfirmationEvent)="getConfirmationValue($event)" [modalStyle]="modalStyle"
[modalTitle]="modalTitle" 
[modalBody]="modalBody"
[modalButtonColor]="modalButtonColor"
[modalButtonCancelTitle]="modalButtonCancelTitle"
[modalButtonOkTitle]="modalButtonOkTitle"
>
<p subtitle class="text-secondary">
    Se eliminara de forma permanente el articulo
</p>
</app-confirmation-modal>